.score {
  padding: 18px 24px;

  display: inline-flex;
  align-items: center;

  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 15px;

  @include mediaTablet {
    flex-direction: column;
    gap: 40px;
  }
  @include mediaMobile {
    padding: 12px 12px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}
.score__logo {
  display: block;
  width: 159px;
  height: 96px;
  margin-left: 15px;
  margin-right: 337px;

  background-image: url(../images/logo.svg);
  @include mediaTablet {
    width: 85px;
    height: 48px;
    background-image: url(../images/logo-mobile.svg);
  }
  @include mediaTablet {
    margin: 0;
  }
}
.score__content {
  padding: 16px 48px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  & p {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: #2a45c2;
    text-transform: uppercase;
    @include mediaMobile {
      font-size: 10px;
      letter-spacing: 1.5625px;
      line-height: 12px;
    }
  }
  & span {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #565468;
    @include mediaMobile {
      font-size: 40px;
      line-height: 40px;
    }
  }
  @include mediaMobile {
    padding: 10px 24px;
  }
}
