body {
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $bg-gradient;

  padding: 20px;
  @include mediaMobile {
    min-height: 100svh;
    gap: 70px;
  }
}

.header {
  flex: 1 0 0;
}
.main {
  flex: 2 0 0;
}
.footer {
  align-self: flex-end;
  @include mediaTablet-rulse {
    align-self: center;
  }
}
